*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-family:Arial;
}

:root{
  --bg:#0f172a;
  --text:#ffffff;
  --card:#1e293b;
  --primary:#38bdf8;
}

.light-mode{
  --bg:#ffffff;
  --text:#111827;
  --card:#f1f5f9;
  --primary:#2563eb;
}

body{
  background:var(--bg);
  color:var(--text);
  transition:0.4s;
}

/* Navbar */

header{
  position:sticky;
  top:0;
  z-index:1000;
  background:var(--card);
  padding:15px 50px;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

nav ul{
  display:flex;
  list-style:none;
}

nav ul li{
  margin-left:20px;
}

nav ul li a{
  text-decoration:none;
  color:var(--text);
}

.logo{
  color:var(--primary);
}

#themeToggle{
  background:none;
  border:none;
  color:var(--text);
  font-size:20px;
  cursor:pointer;
}

/* Hero */

.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.profile-img{
  width: 180px;
  height: 230px;
  border-radius:50%;
  margin-bottom:20px;
  border:5px solid var(--primary);
}

.hero h1{
  font-size:50px;
}

.hero span{
  color:var(--primary);
}

.hero h3{
  margin:15px 0;
  min-height:30px;
}

button{
  padding:12px 25px;
  border:none;
  background:var(--primary);
  color:white;
  border-radius:5px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:scale(1.05);
}

.social-icons{
  margin-top:20px;
}

.social-icons a{
  color:var(--text);
  margin:0 10px;
  font-size:25px;
  transition:0.3s;
}

.social-icons a:hover{
  color:var(--primary);
}

/* Sections */

.section{
  padding:80px 50px;
  text-align:center;
}

.section h2{
  margin-bottom:30px;
  color:var(--primary);
  font-size:40px;
}

/* Skills */

.skills-container,
.projects-container{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
}

.skill-card,
.project-card{
  background:var(--card);
  padding:25px;
  border-radius:15px;
  width:300px;
  transition:0.4s;
}

.skill-card:hover,
.project-card:hover{
  transform:translateY(-10px);
}

.project-card img{
  width:100%;
  border-radius:10px;
  margin-bottom:15px;
}

/* Form */

form{
  max-width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;
}

form input,
form textarea{
  padding:15px;
  margin:10px 0;
  border:none;
  border-radius:10px;
  outline:none;
}

footer{
  text-align:center;
  padding:20px;
  background:var(--card);
}

/* Responsive */

@media(max-width:768px){

  nav{
    flex-direction:column;
  }

  nav ul{
    margin:15px 0;
  }

  .hero h1{
    font-size:35px;
  }

  .section{
    padding:60px 20px;
  }
}